@charset "UTF-8";
/* CSS Document */

/* Navigation */

nav {
    background: #2e294e;
    width: 105.6%;
    list-style-type: none;
    text-align-center
    font-size: 1.2em;
    cursor: default;
    float: left;
    margin-left: -5%;
    padding: 0;
}

nav li {
    line-height: 10spx;
    margin-right: 10px;
    margin-left: 2px;
    padding: 5px;
    list-style-type: none;
    cursor: pointer;
    float: left;
    text-decoration: underline;
}

nav ul {
    width: 20%;
    margin-left: 45%;
    margin-right: 44%;
	padding: 0;
	list-style-type: none;
    height: 30px;
    text-align: center;
}

nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Headings and Paragraph */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: #1b998b;
    text-align: center;
    line-height: 50px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    color: #1b998b;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #1b998b;
    text-align: center;
    height: 30px;
    margin-bottom: -25px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: black;
    text-align: center;
    height: 10px;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: .8em;
    color: black;
    line-height: 1.5em;
    font-weight: lighter;
}

/* Body */

section {
    width: 650px;
    margin-left: 7.5%;
}

#studio {
    text-align: center;
}

/* Images */

.photographers {
    width: 200px;
    height: 200px;
    margin-left: -26px;
    margin-bottom: -5px;
    margin-top: 20px;
}

#lights {
    width: 600px;
    height: 350px;
    align-content: center;
    margin-left: -5%;
}

/* Contact Form */

article {
    margin-top: -250px;
    margin-right: 100px;
    float: right;
    width: 540px;
    margin-left: 9%;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #2e294e;
}

input {
    margin-bottom: 30px;
    width: 520px;
    height: 25px;
    caret-color: #1b998b;
    font-family: Helvetica, sans-serif;
    font-size: .8em;
    padding-left: 8px;
    padding-right: 8px;
}

.lname, .fname {
    float: left;
    width: 240px;
}

.lname {
    margin-top: -36px;
    margin-left: 20px;
}

#about {
    width: 540px;
    margin-bottom: 20px;
}

#about label {
    float: left;
    margin-right: 18px;
}

#about input{
    float: left;
    width: 15px;
}

legend {
    font-family: Arial, Helvetica, sans-serif;
    color: #2e294e;
}

textarea {
    width: 518px;
    height: 150px;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    caret-color: #1b998b;
    padding: 10px;
}

input[type=submit], input[type=reset] {
    width: 100px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 20px;
    background-color: white; 
    color: #2e294e; 
    border: 2px solid #1b998b;
    border-radius: 10px;
}

input[type=submit]:hover {
    transition-duration: 0.4s;
    background-color: #1b998b;
    color: white;
  }

  input[type=reset]:hover {
    transition-duration: 0.4s;
    background-color: #1b998b;
    color: white;
  }

/* Aside */

aside {
    width: 225px;
    border-style: solid;
    border-width: 2px;
    margin-top: -725px;
    margin-right: 70px;
    float: right;
}

/* Footer */

footer {
    background: #2e294e;
    width: 80.6%;
    height: 100px;
    margin-left: -5%;
    margin-top: 60px;
    padding-left: 25%;
    clear: both;
    float: left;
    text-align: center;
}

footer p {
    color: white;
    float: left;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    margin: 1px;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}